<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="tests" verbose="1" thread-count="2">
    <test name="ValidateNews-Chrome">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="runner.CucumberRunner" />
        </classes>
    </test>
</suite>
